.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:90px 8%;

background:#f8fafc;

min-height:85vh;
}

.hero-left{

flex:1;
}

.hero-left h1{

font-size:58px;

line-height:1.2;

color:#0f172a;
}

.hero-left span{

color:#2563eb;
}

.hero-left p{

margin-top:25px;

font-size:19px;

line-height:1.8;

color:#64748b;
}

.hero-buttons{

margin-top:40px;

display:flex;

gap:20px;
}

.primary-btn{

padding:15px 35px;

border:none;

background:#2563eb;

color:white;

border-radius:10px;

cursor:pointer;
}

.secondary-btn{

padding:15px 35px;

background:white;

border:2px solid #2563eb;

color:#2563eb;

border-radius:10px;

cursor:pointer;
}

.hero-right{
flex:1;
}

.dashboard-card{

height:350px;

background:white;

border-radius:20px;

display:flex;

justify-content:center;

align-items:center;

box-shadow:0 20px 40px rgba(0,0,0,.08);

font-size:28px;

font-weight:bold;

color:#2563eb;
}